@charset "UTF-8";
@import url(font-awesome.min.css);
@import "http://www.fontsquirrel.com/fonts/source-sans-pro";

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}


body{
	background:#ffffff;
	font-size: 14px;
	font-family: 'Source Sans Pro';
	height: 100%;
}

.content {
	width: 80%;	
	max-width: 920px;
	margin: 0 auto;

	} 

/*Header*/
header {
	margin: 1em auto;
	width: 100%;
	
}

header nav {
	float: right;
	}
	
	header nav li {
		display: inline-block;
		margin-left: 15px;
		}

	header nav a{
		text-decoration: none;
		color: #19374c; /*blue*/
		font-size: 1.3em;
	}

	header nav .active a{
		color: #f9a522; /*orange*/
	}

	header h1 {
		height: 70px;
		width: 160px;
		float: left;
		display: block;
		background: url(../img/logo.png) 0 0 no-repeat;
	}

/* Media Queries */
@media screen and (max-width: 480px) {

	header nav{
		float: left;
		clear: left;
		margin: 0 0 10px; 
		width: 100%;
		}	
		header nav li {
			margin: 0;
			background: #efefef;
			display: block;
			margin-bottom: 3px;
			}
			header nav a {
				display: block;
				padding: 10px;
				text-align: center;
				}			
}

.logo{
	float: left;
}

/*Section*/
section
{
	width: 100%;
	clear: both;
}

figure {
            float: left;
            margin: 0 auto;
            width: 90%;
        }
            figcaption {
                text-align: left;
                color: #19374c;
            }


.main-title{
	width: 100%;
	margin: 2% auto;
	text-align: center;
}
	.main-title h1{
		font-weight: 600;
		color: #19374c;
	}

	.main-title p{
		color: #8b8a89;
	}


.row {
  margin: 0 auto;
	width: 100%;
}
.row img {
  float: left;
  margin: 0 5px 0 0;
}

/* 1 columns: 320px */
.row .column {
  margin-bottom: 1em;
}
.row .column p {
  padding: 5px 10px;
}

/* 2 columns: 480px */
@media only screen and (min-width: 480px) {
  .row .column {
		float: left;
		margin-right: 2.5%;
		width: 48%;
	}
	.row .column:nth-child(2n+0) {
		margin-right: 0;
	}
}

/* 4 columns: 768px and up */
@media only screen and (min-width: 768px) {
  .row .column {
		width: 23%;
	}
	.row .column:nth-child(3n+0) {
		margin-right: 2.5%;
	}
	.row .column:nth-child(4n+0) {
		margin-right: 0;
	}
}

/* Form */
	form {
		margin: 2em;
	}

		form .field {
			margin: 1.5em;
		}

	label {
		
		display: block;
		color: #19374c;
		font-weight: 600;
		font-size: 1.3em;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		
		font-size: 1em;
		border: solid 1px #8b8a89;
		display: block;
		outline: 0;
		padding: 0.5em;
		text-decoration: none;
		width: 100%;
	}

	textarea{
		resize:none;
	}

			input[type="text"]:invalid,
			input[type="email"]:invalid,
			select:invalid,
			textarea:invalid {
				box-shadow: none;
			}

			input[type="text"]:focus,
			input[type="email"]:focus,
			textarea:focus {
				border-color: #f9a522;
			}

	.button{
		width: 100%;
			margin 0 auto;
			text-align: center;
			color: #f9a522;
			font-size: 2em;
			font-weight: 600;
			text-transform: uppercase; 
			border: none;
			background: inherit;
		}

/* Fa */
.fa-color {
	color: #f9a522;
	font-weight: 600;
}

.fa-position{
	display: inline-block;
	float: left;
	margin-right: 2px;
	font-size: 1.2em;
	vertical-align: middle;

}

/*Footer*/

footer{
		position: absolute;
		bottom: 0px; 
		width: 100%;
		min-height: 60px;
		background-color: #4e4c4c;
		color: #f1f1f1;
		font-size: 1em;
	}

	@media only screen and (max-width: 320px) {
		footer{
			position: relative;
		}
	}

	footer h3{
		text-transform: uppercase;
		text-align: left;
	}
	footer p{
		text-align: left;
		font-size: 0.7em;
	}
	footer .list{
		width: 70%;
	    margin: 0;
	    list-style: none;
	    padding: 0;
	}

	.list li{
		border-bottom: .5px solid #8b8a89;
		margin: 0;
		padding: 0;
	}

	.list li a{
		text-decoration: none;
		color: #f1f1f1;
		text-transform: uppercase;
		font-size: 0.8em;
	}

footer .row{
	margin: 0 auto;
	width: 80%;
	max-width: 920px;
}

/* 1 column: 320px */
.row .column-footer {
  margin-bottom: 1em;
}
.row .column-footer p {
  padding: .25em .75em;
}

/* 3 columns: 768px */
@media only screen and (min-width: 768px) {
  .row .column-footer {
  	float: left;
		width: 31%;
		margin-right: 3%;
	}
	.row .column-footer:nth-child(2n+0) {
		margin-right: 3%;
	}
	.row .column-footer:nth-child(3n+0) {
		margin-right: 0;
	}
}

/* Modal window */
.modal-dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(139, 138, 137, 0.85);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modal-dialog:target {
	display: block;
	pointer-events: auto;
}

.modal-dialog > div {
	width: 500px;
	
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	
	background: #fff;
	background: -moz-linear-gradient(#bbb, #fff);
	background: -webkit-linear-gradient(#bbb, #fff);
	background: -o-linear-gradient(#bbb, #fff);
}

@media screen and (max-width: 980px) {

	.modal-dialog > div {
		width: 500px;

	}
}

@media screen and (max-width: 736px) {

	.modal-dialog > div {
		width: 400px;
	}
}

@media screen and (max-width: 480px) {

	.modal-dialog > div {
		width: 300px;
	}
}

.close {
	background: #f9a522;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

